* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 1.2em;
  height: 100vh;
  margin: 0;
}

header {
  background-color: var(--header-color);
  display: flex;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

textarea {
  background-color: inherit;
  border: 0;
  color: inherit;
  flex-grow: 1;
  padding: 1em;
  resize: none;
  width: 100%;
  outline: none;
}

#status {
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.5em;
}

#status.enabled {
  background-color: var(--enabled-color);
  color: var(--enabled-text-color);
}

:root {
  --background-color: #ffffff;
  --header-color: #f6f8fa;
  --text-color: #1f2328;
  --enabled-color: #2f81f7;
  --enabled-text-color: #e6edf3;
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #0d1117;
    --header-color: #010409;
    --text-color: #e6edf3;
    --enabled-color: #0969da;
  }
}
